{% extends 'base.html.twig' %}

{% block body %}
    <div id="acceuilSite">
        <div id="titleSite">
            <h2>BDD-Books</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <form action="{{ path('searchBook')}}" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input class='form-control' name='value' title="Search" type="text" id="search"/>
                            <button id="cameraButton" class="btn btn-success" type="button"><i class="fas fa-camera"></i></button>
                            <div id="divSearchButton" class="text-center">
                                <button id="searchButton" type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Rechercher</button>
                                <button id="searchAvance" type="button" class="btn btn-danger"><i class="fas fa-search"></i> Recherche avancée</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
                <a id="listeBook" href="{{ path('listesLivres')}}" type="button" class="btn btn-primary">Afficher tout les livres</a>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <a id="listUser" href="{{ path('listeUser')}}" type="button" class="btn btn-primary">Afficher les bibliothèques des utilisateurs</a>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <button id="listAuteur" type="button" class="btn btn-primary">Afficher la liste des auteurs</button>
            </div>
        </div>
    </div>
{% endblock %}