{% extends 'base.html.twig' %}

{% block body %}
<div id="titleListe">
    <h2>Liste des Livres</h2>
</div>
    {% include 'includes/tableauLivres.html.twig' with {'pagination' : pagination, 'images' : images, 'Listelivres' : Listelivres}%}

{% endblock %}