#list_user {
  padding : 3%;
  #users {
    text-align: center;
  }
  .logo{
    width: auto;
    height: 150px;
  }
  #div-btn-user{
    width: 100%;
    margin:auto;
    padding-top : 2%;
    padding-bottom: 1%;
  }
  #btn-user{
    text-align:  center;
    width : 250px;
    height: 250px;
  }
}
