#tableBook {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;

  tbody>tr{
    height: 200px;
  }

}

.pagination {
  display: -ms-flexbox;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

.indexAuteur{
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}
